<!DOCTYPE html>
<html>

<head>
    <meata charset="UTF-8">
        <title>Emailer</title>
        <style>
            /*@import url('https://fonts.googleapis.com/css?family=Dosis:500');*/

            @import url('https://fonts.googleapis.com/css?family=Montserrat');

            .img-responsive {
                display: block;
                max-width: 100%;
                height: auto;
            }
            table {
                /* width: 600px; */
                margin: 0 auto;
                border-collapse: collapse;
            }


        </style>
</head>

<body>
    <div class="invoice-cover">
        <table class="main-counting-header" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <td>
                        <div class="logo pull-right">
                            <img src="http://finwiz.wohlig.co.in/img/logo.png" class="img-responsive" alt="Logo">
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <table  style="width: 100%;">
                          <thead>
                            <tr><td><h4 style="text-align:center;font-size:20px;font-family: 'Montserrat', sans-serif;">NOMINATE YOUR COMPANY</h4></td></tr>
                          </thead>
                            <tbody>
                                <tr>
                                  <td>
                                <h5 style="display:inline-block ;margin:5px;font-size:18px;font-family: 'Montserrat', sans-serif;">  Name of Company :<%= companyName %></h5> <p style="display:inline-block;margin:5px;font-size:16px;font-family: 'Montserrat', sans-serif;"></p>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                      <h5 style="display:inline-block;margin:5px;font-size:18px;font-family: 'Montserrat', sans-serif;">  Contact Person :<%= contactPerson %></h5> <p style="display:inline-block;margin:5px;font-size:16px;font-family: 'Montserrat', sans-serif;"></p>
                                  </td>
                                </tr>
                                  <tr>
                                  <td>
                                    <h5 style="display:inline-block;margin:5px;font-size:18px;font-family: 'Montserrat', sans-serif;">  Designation :<%= designation %></h5> <p style="display:inline-block;margin:5px;font-size:16px;font-family: 'Montserrat', sans-serif;"></p>
                                  </td>
                                </tr>
                                  <tr>
                                  <td>
                                    <h5 style="display:inline-block;margin:5px;font-size:18px;font-family: 'Montserrat', sans-serif;">  Contact No :<%= contactNumber %></h5> <p style="display:inline-block;margin:5px;font-size:16px;font-family: 'Montserrat', sans-serif;"></p>
                                  </td>
                                </tr>
                                  <tr>
                                    <td>
                                  <h5 style="display:inline-block;margin:5px;font-size:18px;font-family: 'Montserrat', sans-serif;">  Email ID :<%= emailData %></h5> <p style="display:inline-block;margin:5px;font-size:16px;font-family: 'Montserrat', sans-serif;"></p>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>